### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

## Calculo de ingreso total

### Tienda 1:

In [22]:
tienda.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [23]:
tienda["Precio"].dtype

dtype('float64')

In [16]:
ing_tot1 = tienda["Precio"].sum()
ing_tot1

np.float64(1150880400.0)

### Tienda 2:

In [31]:
tienda2.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [32]:
tienda["Precio"].dtype

dtype('float64')

In [17]:
ing_tot2 = tienda2["Precio"].sum()
ing_tot2

np.float64(1116343500.0)

### Tienda 3:

In [33]:
tienda3.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [34]:
tienda["Precio"].dtype

dtype('float64')

In [18]:
ing_tot3 = tienda3["Precio"].sum()
ing_tot3

np.float64(1098019600.0)

### Tienda 4:

In [35]:
tienda3.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [36]:
tienda["Precio"].dtype

dtype('float64')

In [19]:
ing_tot4 = tienda4["Precio"].sum()
ing_tot4

np.float64(1038375700.0)

# 2. Ventas por categoría

### Tienda 1:

In [30]:
tienda["Categoría del Producto"].unique()

array(['Electrónicos', 'Muebles', 'Juguetes', 'Electrodomésticos',
       'Artículos para el hogar', 'Deportes y diversión', 'Libros',
       'Instrumentos musicales'], dtype=object)

In [42]:
ventas_categorias1 = tienda.groupby("Categoría del Producto")["Categoría del Producto"].count().sort_values(ascending=False)
ventas_categorias1

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: Categoría del Producto, dtype: int64

### Tienda 2:

In [40]:
tienda2["Categoría del Producto"].unique()

array(['Muebles', 'Instrumentos musicales', 'Deportes y diversión',
       'Electrónicos', 'Artículos para el hogar', 'Juguetes',
       'Electrodomésticos', 'Libros'], dtype=object)

In [49]:
ventas_categorias2 = tienda2.groupby("Categoría del Producto")["Categoría del Producto"].count().sort_values(ascending=False)
ventas_categorias2

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: Categoría del Producto, dtype: int64

### Tienda 3

In [44]:
tienda3["Categoría del Producto"].unique()

array(['Electrodomésticos', 'Muebles', 'Instrumentos musicales',
       'Deportes y diversión', 'Electrónicos', 'Juguetes',
       'Artículos para el hogar', 'Libros'], dtype=object)

In [50]:
ventas_categorias3 = tienda3.groupby("Categoría del Producto")["Categoría del Producto"].count().sort_values(ascending=False)
ventas_categorias3

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Artículos para el hogar    177
Instrumentos musicales     177
Name: Categoría del Producto, dtype: int64

### Tienda 4:

In [46]:
tienda3["Categoría del Producto"].unique()

array(['Electrodomésticos', 'Muebles', 'Instrumentos musicales',
       'Deportes y diversión', 'Electrónicos', 'Juguetes',
       'Artículos para el hogar', 'Libros'], dtype=object)

In [51]:
ventas_categorias4 = tienda4.groupby("Categoría del Producto")["Categoría del Producto"].count().sort_values(ascending=False)
ventas_categorias4

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: Categoría del Producto, dtype: int64

# 3. Calificación promedio de la tienda

### Tienda 1

In [48]:
promedio_calificacion1 = tienda["Calificación"].mean()
promedio_calificacion1

np.float64(3.976685036032217)

## Tienda 2

In [52]:
promedio_calificacion2 = tienda2["Calificación"].mean()
promedio_calificacion2

np.float64(4.037303942348453)

## Tienda 3

In [53]:
promedio_calificacion3 = tienda3["Calificación"].mean()
promedio_calificacion3

np.float64(4.048325561678677)

## Tienda 4:

In [54]:
promedio_calificacion4 = tienda4["Calificación"].mean()
promedio_calificacion4

np.float64(3.9957591178965224)

# 4. Productos más y menos vendidos

In [55]:
tienda["Producto"].unique()

array(['Asistente virtual', 'Mesa de comedor', 'Juego de mesa',
       'Microondas', 'Silla de oficina', 'Bloques de construcción',
       'Muñeca bebé', 'Lavavajillas', 'Lavadora de ropa',
       'Carrito de control remoto', 'Refrigerador', 'Auriculares',
       'Olla de presión', 'Bicicleta', 'Ciencia de datos con Python',
       'Balón de voleibol', 'Ajedrez de madera', 'TV LED UHD 4K',
       'Vaso térmico', 'Kit de bancas', 'Dashboards con Power BI',
       'Cubertería', 'Set de ollas', 'Batería', 'Cuerda para saltar',
       'Estufa', 'Cama box', 'Impresora', 'Mesa de noche', 'Armario',
       'Dinosaurio Rex', 'Guitarra eléctrica', 'Secadora de ropa',
       'Sofá reclinable', 'Tablet ABXY', 'Cubo mágico 8x8',
       'Set de vasos', 'Modelado predictivo', 'Iphone 15', 'Mochila',
       'Balón de baloncesto', 'Auriculares con micrófono', 'Sillón',
       'Guitarra acústica', 'Iniciando en programación', 'Celular ABXY',
       'Smartwatch', 'Mesa de centro', 'Cama king', 'Smart TV',
       'Pandereta'], dtype=object)

In [57]:
ventas_productos1 = tienda.groupby("Producto")["Producto"].count().sort_values(ascending=False)
ventas_productos1

Producto
Armario                        60
TV LED UHD 4K                  60
Microondas                     60
Secadora de ropa               58
Mesa de noche                  56
Bloques de construcción        56
Balón de baloncesto            55
Bicicleta                      54
Impresora                      54
Vaso térmico                   54
Refrigerador                   54
Batería                        53
Cubertería                     52
Carrito de control remoto      52
Modelado predictivo            51
Auriculares                    50
Ajedrez de madera              49
Iphone 15                      49
Lavavajillas                   48
Guitarra eléctrica             47
Lavadora de ropa               47
Silla de oficina               46
Sofá reclinable                46
Guitarra acústica              46
Estufa                         45
Mesa de centro                 44
Kit de bancas                  44
Cama box                       44
Cubo mágico 8x8                44
Smart TV                       44
Cama king                      44
Juego de mesa                  43
Smartwatch                     43
Set de ollas                   43
Dashboards con Power BI        42
Tablet ABXY                    42
Balón de voleibol              42
Sillón                         41
Iniciando en programación      41
Set de vasos                   41
Asistente virtual              40
Dinosaurio Rex                 40
Cuerda para saltar             40
Muñeca bebé                    40
Mesa de comedor                40
Ciencia de datos con Python    39
Mochila                        39
Pandereta                      36
Olla de presión                35
Celular ABXY                   33
Auriculares con micrófono      33
Name: Producto, dtype: int64

# 5. Envío promedio por tienda